<h1>Category Create</h1>

<div>
    <form  method="post">
        Code: <input type="text" id="Code" name="Code" /> <br />
        Name: <input type="text" id="CategoryName" name="CategoryName" /> <br /> <br />

        <input type="submit" value="Save" />
    </form>

</div>