@model SMECommerceApp.Models.IdentityModels.SignInUserModelVM



<body>


    <div class="container my-3">

        <h1 class="text-info">Sign In</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-outline-primary" />
                        <input type="submit" value="Register as an new user" class="btn btn-outline-primary"asp-action="Signup" asp-controller="Account" />
                    </div>
                    <hr />

                    >
                </form>
            </div>


           


        </div>


    </div>

</body>
</html>