<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Account Created Successfully</h1><br />
        <img src="~/images/Success.jpg" width="50%" />
    </div>
   
</div>
