<h1>Category Create</h1>

<div>
    <form  method="post">
        Code: <input type="text" id="Code" name="Code" /> <br />
        Name: <input type="text" id="Name" name="Name" /> <br /> 
        Description: <input type="text" id="Description" name="Description" /> <br /> 

        <input type="submit" value="Save" class="btn btn-info" />
    </form>

</div>